// // theme Color
$primary: hsl(209, 23%, 22%); // Dark Blue (Dark Mode Elements)
$secondary: hsl(0, 0%, 98%); // Very Light Gray (Light Mode Background)
$info: hsl(207, 26%, 17%); // Very Dark Blue (Dark Mode Background)
$success: hsl(0, 0%, 52%); // Dark Gray (Light Mode Input)
$warning: hsl(200, 15%, 8%); // Very Dark Blue (Light Mode Text)
$light: hsl(0, 0%, 100%); // White (Dark Mode Text & Light Mode Elements)
$dark: #000;