.main-content {
    background-color: $secondary;

    .section {
        padding: 3rem 0;
    }

    .icon-back {
        margin-right: 0.5rem;
    }

    .search-box,
    .filter-box {
        width: 100%;

        @include breakpoint-up(md) {
            width: 47%;
        }
    }

    .search-box,
    .select-box {
        box-shadow: 0 0 6px 2px rgba($dark, 0.1);
        border-radius: 4px;
    }

    .filter-box {
        text-align: start;
        padding-top: 2rem;

        @include breakpoint-up(md) {
            text-align: end;
            padding-top: 0;
        }

        .select-box {
            border: none;
        }
    }


    .card {
        display: flex;
        flex-direction: column;
        width: 22%;
        box-shadow: 0 0 6px 2px rgba($dark, 0.1);
        margin: 1.5rem 0;
        border-radius: $card-border-radius;

        .flag-image {
            height: 200px;
            width: 100%;
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
        }

        .card-body {
            padding: 0.75rem 1.5rem;
        }

        .country-name {
            font-weight: 800;
            font-size: 1.25rem;
            padding: 0 0 0.5rem;
        }

        .county-states {
            padding: 0.5rem 0 1.75rem;
        }

        .country-key,
        .country-value {
            font-size: 0.875rem;
        }

        .country-key {
            font-weight: 800;
        }

        .country-value {
            margin: 0 0.25rem;
            font-weight: 600;
        }
    }

    .details-box {
        width: 100%;

        @include breakpoint-up(md) {
            width: 47%;
        }
    }


    .country-name {
        margin: 1.75rem 0;
        font-weight: 900;
        font-size: 2rem;

        @include breakpoint-up(md) {
            margin: 1rem 0;
        }
    }

    .country-info {
        width: 100%;

        @include breakpoint-up(md) {
            width: 28%;
        }

        @include breakpoint-up(lg) {
            width: 47%;
        }

        &:last-child {
            margin-top: 30px;

            @include breakpoint-up(md) {
                margin-top: 0;
            }
        }
    }

    .country-detail-line {
        margin-bottom: 0.5rem;
    }

    .country-image {
        height: 350px;
        width: 100%;
    }

    .countryinfo-key {
        font-weight: 800;
    }

    .countryinfo-value {
        margin: 0 0.25rem;
        font-weight: 600;
        color: $success;

        &.border-country {
            padding: 0.25rem 2.5rem;
            margin: 0rem 1rem 0.75rem 0;
            box-shadow: 0 0 6px 2px rgba($dark, 0.1);
            border-radius: 4px;
            font-size: 0.875rem;
            width: 26%;
        }
    }

    .country-borders {
        margin: 3rem 0;
        flex-direction: column;

        @include breakpoint-up(md) {
            flex-direction: row;
        }

        .countryinfo-key {
            display: block;
        }
    }

    .border-country-label {
        flex: 0 0 40px;
        white-space: nowrap;
        margin-bottom: 0;

        @include breakpoint-up(md) {
            flex: 0 0 150px;
        }
    }
}